body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

.tabels{
    text-align: center;
    border-collapse: collapse;
    border-spacing: 10px; border: 2px dotted black;
    border: 2px dashed lightgray;
    margin: 0 auto;
}
.h3tabels{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.hello{
    text-transform: uppercase;
    text-align:center;
}
.capital {
    text-transform: capitalize;
  }
p {
    text-indent: 20px;
}

.title {
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    text-decoration: line-through;
    text-transform: uppercase;
}

.justify {
    text-align: justify;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

ul {
    list-style-type: square;
    list-style-position: outside;

    color: #114eaf;
}

ol {
    list-style-type: decimal-leading-zero;
}